<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAABP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERAAAAABEREREREAABEREREREQABEREAABERAAEREAAAEREAAREQAAAREQABEQABERERABERAAEREREAEREAAREREQAREQAAAAAAAAEREAAAAAAAAREQAAAAAQAAEREAAAERAAAREREREREAAAEREREREQAAAAEREREAD8DwAA8AEAAOABAADB4QAAw+EAAMPhAADHAQAAhwEAAIcBAACH/wAAw/8AAMP9AADh8QAA4AEAAPABAAD8BwAA" rel="icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5d3b65243b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/login/main.css">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<!-- <div class="wrap-login100"> -->
				<div style="margin-right: 60px;" class="login100-pic js-tilt" data-tilt>
					<img src="/login/consoleF.png" alt="IMG">
				</div>

				<form action="/auth/steam" method="get" class="login100-form validate-form">

					<span class="steam text-light"><i class="fab fa-steam fa-5x"></i></span>


					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login using steam
						</button>
					</div>



				</form>
			<!-- </div> -->
		</div>
	</div>
	
	

	


<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>


    <!-- <script src="/login/vendor/bootstrap/js/popper.js"></script> -->
    
    <!-- <script src="/login/vendor/bootstrap/js/bootstrap.min.js"></script> -->
    
    <!-- <script src="/login/vendor/select2/select2.min.js"></script> -->
    
    <script src="/login/vendor/tilt/tilt.jquery.min.js"></script>
    
    <script>    
    $('.js-tilt').tilt({
			scale: 1.1
		})
	</script>


</body>
</html>